body {
    overflow: hidden;
}

div#draggable {
    padding-top: 15px;

    -webkit-app-region: drag;
}

textarea {
    background-color: transparent;

    -webkit-app-region: no-drag;
}
